.desktop-4 .vector {
  margin-right: 35px;
  width: 96px;
  height: 115px;
}
.desktop-4 .sigma-com {
  margin: 2px 0 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 71px;
  color: #FFFFFF;
}
.desktop-4 .container-10 {
  margin: 0 29px 33px 29px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 62px;
  color: #FFFFFF;
}
.desktop-4 .container-11 {
  border-radius: 51px;
  background: #313185;
  position: relative;
  margin-bottom: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 0 14px 263.6px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-4 .container-3 {
  margin: 0 170.3px 58px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-4 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #B8B8B8;
}
.desktop-4 .container-6 {
  border-radius: 59px;
  background: #161626;
  position: relative;
  margin-bottom: 52px;
  padding: 15px 35px 10px 35px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #B8B8B8;
}
.desktop-4 .container-8 {
  border-radius: 59px;
  background: #161626;
  position: relative;
  padding: 16px 22px 10px 22px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .group-12 {
  border-radius: 62px;
  background: #313185;
  position: relative;
  margin-right: 179px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 25px 90px 25px;
  width: 610px;
  box-sizing: border-box;
}
.desktop-4 .container-4 {
  margin: 0 0.6px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-4 .container-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #B8B8B8;
}
.desktop-4 .container-4 {
  border-radius: 59px;
  background: #161626;
  position: relative;
  margin-bottom: 24px;
  padding: 15px 35px 10px 35px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-6 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #B8B8B8;
}
.desktop-4 .container-3 {
  border-radius: 59px;
  background: #161626;
  position: relative;
  margin-bottom: 24px;
  padding: 15px 35px 10px 35px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-11 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #B8B8B8;
}
.desktop-4 .container {
  border-radius: 59px;
  background: #161626;
  position: relative;
  padding: 15px 35px 10px 35px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .group-13 {
  border-radius: 51px;
  background: #313185;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 26px 54px 26px;
  width: 612px;
  box-sizing: border-box;
}
.desktop-4 .container-5 {
  margin: 0 20px 67px 19px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-7 {
  margin: 0 0 29px 343.3px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 42px;
  color: #FFFFFF;
}
.desktop-4 .container-8 {
  margin-right: 25px;
  width: 485px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #B8B8B8;
}
.desktop-4 .vector-3 {
  margin: 22px 0 11.5px 0;
  width: 33px;
  height: 16.5px;
}
.desktop-4 .container-7 {
  background: #161626;
  position: relative;
  margin: 0 1px 12px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 6px 25px 8px 18px;
  width: 586px;
  box-sizing: border-box;
}
.desktop-4 .container-9 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #B8B8B8;
}
.desktop-4 .container-2 {
  background: #161626;
  position: relative;
  margin: 0 1px 12px 1px;
  align-self: flex-start;
  padding: 6px 18px 8px 18px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-10 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #B8B8B8;
}
.desktop-4 .container-9 {
  background: #161626;
  position: relative;
  align-self: flex-start;
  padding: 6px 18px 8px 18px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-1 {
  border-radius: 51px;
  background: #313185;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 38px 0 46px 31px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 {
  background: #161626;
  display: flex;
  flex-direction: column;
  padding: 51px 0 40px 0;
  width: 1440px;
  box-sizing: border-box;
}
