.desktop-1 .vector-1 {
  position: absolute;
  left: -14px;
  top: 7423px;
  width: 1454px;
  height: 0px;
}
.desktop-1 .rectangle-2 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0 254.5px 14px;
  width: 1540px;
  height: 251px;
}
.desktop-1 .vector-1 {
  width: 36.9px;
  height: 37px;
}
.desktop-1 .arcticonscontacts-alt {
  position: relative;
  margin: 0 5.5px 2.5px 5.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  width: 36.9px;
  height: 37px;
  box-sizing: border-box;
}
.desktop-1 .vector {
  margin: 5px 28px 0 0;
  width: 66px;
  height: 89px;
}
.desktop-1 .sigma-com {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 71px;
  color: #FFFFFF;
}
.desktop-1 .container-1 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-20 {
  margin: 7px 37px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .vector-2 {
  width: 36.9px;
  height: 37px;
}
.desktop-1 .container-19 {
  border-radius: 32.5px;
  background: #4B4B4B;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 15.1px 17px 13px;
  width: 65px;
  height: 65px;
  box-sizing: border-box;
}
.desktop-1 .group-11 {
  border-radius: 34px;
  background: #7D7DAE;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 17px 0 16px 21.1px;
  width: 254px;
  box-sizing: border-box;
}
.desktop-1 .container-18 {
  margin: 0 32px 19px 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1335px;
  box-sizing: border-box;
}
.desktop-1 .container-21 {
  margin-right: 19px;
  width: 592px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 31px;
  color: #FFFFFF;
}
.desktop-1 .container-22 {
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 31px;
  color: #FFFFFF;
}
.desktop-1 .container-3 {
  background: #313185;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0 19px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .image-1 {
  background: url('../assets/images/image1.png') 50% / cover no-repeat;
  margin: 32px 0 54px 0;
  width: 166px;
  height: 108px;
}
.desktop-1 .container-7 {
  position: relative;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1933px;
  box-sizing: border-box;
}
.desktop-1 .steam-riot-battle-net-sony-steam {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
}
.desktop-1 .container-9 {
  border-radius: 33px;
  background: #313185;
  position: relative;
  margin-bottom: 4px;
  padding: 10px 24px 8px 24px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .riot-games-1 {
  margin-bottom: 121px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 51px;
  text-decoration-line: underline;
  color: #000000;
}
.desktop-1 .riot-games {
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 51px;
  color: #000000;
}
.riot-games {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 51px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.desktop-1 .container-13 {
  margin: 27px 101.3px 264px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .image-2 {
  background: url('../assets/images/image2.png') 50% / cover no-repeat;
  margin: 0 0.6px 43px 0;
  width: 266px;
  height: 181px;
}
.desktop-1 .container-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .riot-games-2 {
  margin-right: 1.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .container-16 {
  border-radius: 34px;
  background: #313185;
  position: relative;
  margin: 72px 65px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 8.4px 88px 9px;
  box-sizing: border-box;
}
.desktop-1 .container {
  margin: 0 1.9px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 51px;
  color: #FFFFFF;
}
.desktop-1 .image-3 {
  background: url('../assets/images/image3.png');
  margin: 0 2.6px 27px 0;
  width: 224px;
  height: 213px;
}
.desktop-1 .container-2 {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .epic-games-people-can-fly {
  margin: 0 3.7px 0 1.1px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 38px;
  color: #FFFFFF;
}
.desktop-1 .container-14 {
  border-radius: 34px;
  background: #313185;
  position: relative;
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 8.4px 38px 9px;
  box-sizing: border-box;
}
.desktop-1 .image-6 {
  background: url('../assets/images/image6.png');
  margin: 0 0.6px 48px 0;
  width: 224px;
  height: 172px;
}
.desktop-1 .container-3 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .epic-games {
  margin-left: 0.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .container-6 {
  border-radius: 34px;
  background: #313185;
  position: relative;
  margin: 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 8.4px 79px 9px;
  box-sizing: border-box;
}
.desktop-1 .container-11 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-4 {
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .image-5 {
  background: url('../assets/images/image5.png');
  margin: 0 0.6px 46px 0;
  width: 186px;
  height: 186px;
}
.desktop-1 .container-4 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .valve {
  margin-right: 0.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .container-2 {
  border-radius: 34px;
  background: #313185;
  position: relative;
  margin-top: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 8.4px 79px 9px;
  box-sizing: border-box;
}
.desktop-1 .container-10 {
  position: relative;
  margin: 0 54px 28px 0;
  display: flex;
  flex-direction: row;
  width: 1766px;
  box-sizing: border-box;
}
.desktop-1 .container-5 {
  position: relative;
  margin: 0 0.1px 36px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 51px;
  color: #FFFFFF;
}
.desktop-1 .riot-games-3 {
  margin: 0 32.9px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub168 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub167 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub159 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.desktop-1 .riot-games-2006222023-tencent-big-world-2006 {
  margin-bottom: 52px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub164 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub160 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub169 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub166 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub161 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub158 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub157 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub163 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.riot-games-2006222023-tencent-big-world-2006-sub162 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.desktop-1 .image-10 {
  background: url('../assets/images/image10.png') 50% / cover no-repeat;
  margin-left: 14.7px;
  width: 507px;
  height: 212px;
}
.desktop-1 .group-4 {
  border-radius: 33px;
  background: #313185;
  position: relative;
  margin: 0 54px 62px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 67.7px 16px 81px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .people-can-fly {
  margin: 0 0.5px 48px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #FFFFFF;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015-sub96 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015-sub92 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015-sub93 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015-sub91 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.desktop-1 .people-can-fly-2013-epic-games-2002-epic-games-20122015 {
  margin-bottom: 50px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015-sub97 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015-sub99 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015-sub95 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.people-can-fly-2013-epic-games-2002-epic-games-20122015-sub94 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.desktop-1 .image-9 {
  background: url('../assets/images/image9.png') 50% / cover no-repeat;
  width: 301px;
  height: 301px;
}
.desktop-1 .group-3 {
  border-radius: 33px;
  background: #313185;
  position: relative;
  margin: 0 54px 62px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 80px 33px 80px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .epic-games-1 {
  margin: 0 0 48px 111.4px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub94 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub91 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub90 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub89 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.desktop-1 .epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub98 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub95 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub93 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub92 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.epic-games-gears-of-war-unreal-tournament-fortnite-unreal-engine-19911991-sub97 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.desktop-1 .container-5 {
  border-radius: 33px;
  background: #313185;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 0 462px 75px;
  box-sizing: border-box;
}
.desktop-1 .image-8 {
  background: url('../assets/images/image8.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 767px;
  height: 431px;
}
.desktop-1 .group-2 {
  position: relative;
  margin: 0 54px 62px 55px;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.desktop-1 .valve-1 {
  margin: 0 1.7px 48px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub143 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub139 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub141 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub136 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub135 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub133 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub132 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.desktop-1 .valve-corporation-241996-valve-sarlluxembourg-campo-santo {
  margin-bottom: 81px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub137 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub134 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub142 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.valve-corporation-241996-valve-sarlluxembourg-campo-santo-sub138 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  line-height: 1.333;
  color: #FFFFFF;
}
.desktop-1 .image-7 {
  background: url('../assets/images/image7.png') 50% / cover no-repeat;
  margin-left: 1px;
  width: 924px;
  height: 258px;
}
.desktop-1 .group-1 {
  border-radius: 33px;
  background: #313185;
  position: relative;
  margin: 0 54px 51px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 75px 60px 75px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-6 {
  margin: 0 552.9px 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 81px;
  color: #FFFFFF;
}
.desktop-1 .riot-games-4 {
  position: relative;
  margin: 0 13px 123px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .league-of-legends {
  position: relative;
  margin: 0 13px 84px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #FFFFFF;
}
.desktop-1 .valorant {
  position: relative;
  margin: 0 32px 125px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #FFFFFF;
}
.desktop-1 .container-7 {
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 51px;
  color: #FFFFFF;
}
.desktop-1 .rectangle-11 {
  border-radius: 135px;
  border: 6px solid #D9D9D9;
  position: absolute;
  top: 58px;
  right: 243px;
  width: 838px;
  height: 173px;
}
.desktop-1 .rectangle-12 {
  border-radius: 140px;
  border: 6px solid #D9D9D9;
  position: absolute;
  left: 322px;
  top: 306px;
  width: 674px;
  height: 121px;
}
.desktop-1 .rectangle-13 {
  border-radius: 140px;
  border: 6px solid #D9D9D9;
  position: absolute;
  left: 322px;
  bottom: 238px;
  width: 674px;
  height: 121px;
}
.desktop-1 .group-5 {
  border-radius: 33px;
  background: #313185;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 108px 104.5px 75px 104.5px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-7 {
  position: relative;
  margin: 0 54px 75px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-8 {
  margin: 0 0 52px 40px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #FFFFFF;
}
.desktop-1 .container-9 {
  margin: 0 0 33px 0.1px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #000000;
}
.desktop-1 .star-1 {
  margin-right: 12.3px;
  width: 54.5px;
  height: 54.5px;
}
.desktop-1 .star-2 {
  margin-right: 11.6px;
  width: 54.5px;
  height: 54.5px;
}
.desktop-1 .star-3 {
  margin-right: 11.6px;
  width: 55.2px;
  height: 54.5px;
}
.desktop-1 .star-4 {
  margin-right: 12.3px;
  width: 54.5px;
  height: 54.5px;
}
.desktop-1 .star-5 {
  width: 54.5px;
  height: 54.5px;
}
.desktop-1 .group-8 {
  margin: 9.5px 36.1px 10px 0;
  display: flex;
  flex-direction: row;
  width: 321px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-10 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #000000;
}
.desktop-1 .container-12 {
  margin: 0 0 49px 24px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-12 {
  margin: 0 0.4px 5px 0.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #000000;
}
.desktop-1 .container-11 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #000000;
}
.desktop-1 .group-9 {
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.88);
  position: relative;
  margin-right: 121px;
  display: flex;
  flex-direction: column;
  padding: 33px 48.1px 59px 27px;
  box-sizing: border-box;
}
.desktop-1 .container-13 {
  margin: 0 0 33px 1.1px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #000000;
}
.desktop-1 .star-11 {
  margin-right: 12.3px;
  width: 54.5px;
  height: 54.5px;
}
.desktop-1 .star-21 {
  margin-right: 11.6px;
  width: 54.5px;
  height: 54.5px;
}
.desktop-1 .star-31 {
  margin-right: 11.6px;
  width: 55.2px;
  height: 54.5px;
}
.desktop-1 .star-41 {
  margin-right: 12.3px;
  width: 54.5px;
  height: 54.5px;
}
.desktop-1 .star-51 {
  width: 54.5px;
  height: 54.5px;
}
.desktop-1 .group-81 {
  margin: 9.5px 36.1px 10px 0;
  display: flex;
  flex-direction: row;
  width: 321px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-16 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #000000;
}
.desktop-1 .container-8 {
  margin: 0 0 49px 24px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-14 {
  margin: 0 0.4px 5px 0.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 61px;
  color: #000000;
}
.desktop-1 .container-15 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #000000;
}
.desktop-1 .group-10 {
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.88);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 33px 48.1px 9px 27px;
  box-sizing: border-box;
}
.desktop-1 .container-17 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-6 {
  border-radius: 33px;
  background: #313185;
  position: relative;
  margin: 0 51px 75px 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 60px 152px 60px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-17 {
  margin: 0 13px 52px 13px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .container-18 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .container-15 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-19 {
  margin: 27px 0 25px 0;
  display: inline-block;
  text-align: right;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 41px;
  color: #FFFFFF;
}
.desktop-1 .group-82 {
  background: #303030;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 43px 45px 122px 45px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #161626;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
